@import 'colors.scss';
section {
  height: 100vh;
  .profile-picture {
    height: 150px;
    width: 150px;
    border: 3px solid #04C2C9;
    margin-bottom: 20px;
    margin-left: auto; 
    margin-right: auto;
    display: block; 
    border-radius: 50%;
  }
  .about {
    text-align: center;
  }
  .about-section {
    padding-top: 1px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color:  #f4f4f4;
    border-left: 2px solid #04C2C9; 
    border-right: 2px solid #04C2C9;
    width: 60%;
    .skills-grid {
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
    }

    h1 {
      text-align: center;
      text-decoration: underline solid 3px;
      font-size: 24px;
    }
    ul {
      display: grid | inline-grid;
        .ruby-logo {
          height: 60px;
          width: 60px;
        }
        .react-logo {
          height: 60px;
          width: 60px;
        }
        .javascript-logo {
          height: 60px; 
          width: 60px;
        }
        .python-logo {
          height: 60px;
        }
        img {
          height: 70px;
          width: 55px;
        }
        li {
          list-style-type: none;
          padding-top: 25px;
        }
    }
  }
}