@import 'colors.scss';
section {
  height: 100vh;
  .about-grid {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 50px;
  }
  .profile-picture {
    height: 300px;
    width: 300px;
    border: 3px solid #04C2C9;
    margin-bottom: 20px;
    margin-left: auto; 
    margin-right: auto;
    display: block; 
    border-radius: 50%;
  }
  .about {
    text-align: center;
  }
  .description {
    padding-left: 50px;
    padding-right: 50px;
    color: #616161;
    font-size: 12pt;
    margin-top: 20px;
  }
  .about-section {
    padding-top: 1px;
    // margin-left: auto;
    // margin-right: auto;
    text-align: center;

    .skills-grid {
      display: grid;
      grid-template-columns: 33% 33% 33%;
      padding-top: 20px;
    }

    h1 {
      text-align: center;
      text-decoration: underline solid 3px;
      font-size: 24px;
    }
    ul {
        display: grid | inline-grid;
        .ruby-logo {
          height: 60px;
          width: 60px;
        }
        .react-logo {
          height: 60px;
          width: 60px;
        }
        .javascript-logo {
          height: 60px; 
          width: 60px;
        }
        .python-logo {
          height: 60px;
        }
        img {
          height: 70px;
          width: 55px;
        }
        li {
          list-style-type: none;
          padding-top: 25px;
        }
    }
  }
}