.page-container {
  background-color: #151515;
  padding: 0 50px;
  margin-left: auto;
  margin-right: auto; 
  width: 60%;
  z-index: -1;
  .contact-page {
    height: auto;
  }
}

@media (max-width: 1200px) {
  .page-container {
    .about-page {
      height: auto;
      padding-bottom: 10%;
    }
    .projects-page {
      height: auto;
    }
    .contact-page {
      height: auto;
    }
  }
}