@import 'colors.scss';
section {
  height: 100vh;

  .contact-section {
    padding-top: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color:  #f4f4f4;
    border-left: 2px solid #04C2C9; 
    border-right: 2px solid #04C2C9;
    width: 60%;
    text-align: center;
    h1 {
      text-align: center;
      text-decoration: underline solid 3px;
      font-size: 24px;
    }
    .contact-grid {
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      a {
        text-align: center;
        text-decoration: none;
        color: black;
        &:hover {
          opacity: 0.5;
        }
      }
      li {
        text-decoration: none;
        list-style-type: none;
        p {
          text-align: center;
        }
        img {
          margin-top: 10%;
          display: block;
          height: 75px;
          width: 75px;
          margin-left: auto;
          margin-right: auto;
        }     
      }
    }
  }
}