@import 'colors.scss';
section {
  height: auto;

  .contact-section {
    height: auto;
    padding-top: 1px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    font-family: 'sofia_pro_regularregular';
    .resume-doc {
      border: 4px inset $dark_blue;
    }

    .contact-form {
      display: flex; 
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    h1 {
      text-align: center;
      text-decoration: underline solid 3px;
      font-size: 24px;
    }
    .contact-grid {
      margin-top: 10px;
      display: flex;
      position: relative; 
      justify-content: space-evenly;
      width: 100%;
      padding-left: 0;
      a {
        text-align: center;
        text-decoration: none;
        color: black;
        &:hover {
          opacity: 0.5;
        }
      }
      li {
        text-decoration: none;
        list-style-type: none;
        p {
          text-align: center;
        }
        img {
          margin-top: 10%;
          display: block;
          height: 75px;
          width: 75px;
          margin-left: auto;
          margin-right: auto;
        }     
      }
    }
    textarea {
      padding-left: 5px;
      font-size: 12px;
      width:70%;
      resize: none;
      border: 2px solid black;
    }
    input {
      border-radius: 0px;
      border: 2px solid black;
      margin-bottom: 16px;
    }
    input[type=submit] {
      margin-top: 20px;
      padding: 16px 32px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      color: white;
      background-color: $dark_blue;
      
      &:hover {
        opacity: 0.8;
      }
    }
  
    input[type=text] {
      padding: 15px 0;
      font-size: 24px;
      padding-left: 10px;
    }
  }
}