@import 'colors.scss';
section {
  height: 100vh;

  .contact-section {
    padding-top: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color:  #f4f4f4;
    border-left: 2px solid #04C2C9; 
    border-right: 2px solid #04C2C9;
    width: 60%;
    h1 {
      text-align: center;
    }
    li {
      text-decoration: none;
    }
  }
}