@import 'colors.scss';
body {
  background-color: #151515;
  font-family: "proxima-nova",sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  .background-image {
    position: absolute;
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
    opacity: 0.7;
    filter: grayscale(100%);
    position: absolute;
    // transform: scaleX(-1);
    // z-index: 9;
  }
  section {
    height: 100vh;
  }
}

.homeinfo {
  color: $white;
  font-family: "proxima-nova",sans-serif;
  font-size: 30px;
  margin: 20px;
  padding-top: 20px;
  text-align: center;
  position: relative;
  top: 17%;

  h1 {
    text-shadow: 2px 2px 0px rgba(0,0,0,0.6);
    z-index: -1;
  }

  p {
    color: $white;
    .color-change {
      color: #92140C;
    }
    
  }

  a {
    text-decoration: none;
    color: $white;
    padding: 10px; 
    border-style: solid;
    border-width: 2px;
    border-color: $white;
    border-radius: 5%;

    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }
  }
}


//Main content display on styling for home page.