@import 'colors.scss';
section {
  height: 100vh;
  .projects-section {
    margin-top: -24px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color:  #f4f4f4;
    width: 60%;
    h1 {
      text-align: center;
      text-decoration: underline solid 3px;
      font-size: 24px;
    }
  }
  
}